#raamatud {
    height: 400px;
    line-height: 400px;
    text-align: center;
    font-size: 2.5em;
    color: darksalmon;
}
#raamatud {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(https://bin.snmmd.nl/m/78x73ij2tm1d_1200x600.jpg/blog_podcastboeken.jpg);
}
#books .profile-img {
    width: 500px;
    border-radius: 35%; 
}