#pildu {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(https://i.pinimg.com/originals/75/74/3e/75743e5344964457f1af4b451cd66ceb.jpg);
} 
#pildu {
    height: 400px;
    line-height: 400px;
    text-align: center;
    font-size: 2.5em;
    color: darksalmon;
}
#pildu {
    text-align: center;
    text-decoration: aquamarine;
}
#webblog .profile-img {
    width: 350px;
    border-radius: 35%; 
}
#webblog .row {
    display: flex;
}
  #webblog .column {
    flex: 50%;
}
