body { 
    background: url(/img/cream_dust.png) repeat 0 0;
}
  body {
    margin: 0;
    margin-top: 50px;
    font-family: sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    align-self: center;
    height: 50px;
    line-height: 50px;
    background-color: rgba(201, 183, 183, 0.055);
}
#pildu {
    text-align: center;
    text-decoration: aquamarine;
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
}

header li {
    margin-left: 20px;
}

section {
    padding-top: 2cm;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#hero .profile-img {
    width: 300px;
    border-radius: 50%; 
}
#webblog .profile-img {
    width: 350px;
    border-radius: 35%; 
}
#virtualcocktailparty .profile-img {
    width: 350px;
    border-radius: 35%; 
}
#covid-19 .profile-img {
    width: 350px;
    border-radius: 35%; 
}

#quarantine .profile-img {
    width: 350px;
    border-radius: 35%; 
}
#safety .profile-img {
    width: 350px;
    border-radius: 35%; 
}
#pilt {
    width: 1000px;
    border-radius: 35%; 
}
#pildu {
    height: 400px;
    line-height: 400px;
    text-align: center;
    font-size: 2.5em;
    color: darksalmon;
}
#kokteilipidu {
    height: 400px;
    line-height: 400px;
    text-align: center;
    font-size: 2.5em;
    color: darksalmon;
}

#reisimine {
    height: 400px;
    line-height: 400px;
    text-align: center;
    font-size: 2.5em;
    color: darksalmon;
}
#lauamängud {
    height: 400px;
    line-height: 400px;
    text-align: center;
    font-size: 2.5em;
    color: darksalmon;
}

#hero h1 {
    font-size: 3em;
}

header a {
    text-decoration: none;
    color: black;
}
/* Add everything below here */

#hero {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(https://previews.123rf.com/images/vska/vska1604/vska160400081/55577688-abstract-tech-background-futuristic-interface-vector-illustration-with-many-geometric-shape-.jpg);
}
#about {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(https://previews.123rf.com/images/vska/vska1604/vska160400081/55577688-abstract-tech-background-futuristic-interface-vector-illustration-with-many-geometric-shape-.jpg);
}
#jalus {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(https://previews.123rf.com/images/xeniadesign/xeniadesign1802/xeniadesign180200017/94591861-abstract-tech-design-background-engineering-technology-wallpaper-made-with-lines-dots-circles-futuri.jpg);
}
#pildu {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(https://i.pinimg.com/originals/75/74/3e/75743e5344964457f1af4b451cd66ceb.jpg);
} 

#kokteilipidu {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(https://thumbs.dreamstime.com/b/colored-artistic-beckground-brigth-background-grunge-art-eagle-colored-artistic-beckground-grunge-art-eagle-166165768.jpg);
}
#reisimine {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(https://sharoncummings.files.wordpress.com/2015/05/screenshot-2015-04-17-18-47-13.png);
}
#lauamängud {
    background-image: linear-gradient(rgba(255,255,255,0.75),rgba(255,255,255,0.75)), url(https://www.artefactgroup.com/wp-content/uploads/2020/01/dungeons.jpg);
}




#about .column {
    border: 5px solid rgb(104, 84, 84);
    background-color: aliceblue;
    margin: 10px;
    float: left;
    width: 33.33%;
    align-self: center;
    margin-left: 125px
    

}

#webblog .row {
  display: flex;
}

#webblog .column {
  flex: 50%;
}
#about .row {
  content: "";
  display: table;
  clear: both;
}
#covid-19 .row {
  display: flex;
}
#covid-19 .column {
  flex: 50%;
}

#quarantine .row {
  display: flex;
}
#quarantine .column {
  flex: 50%;
}
#safety .row {
  display: flex;
}
#safety .column {
  flex: 50%;
}